<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7d8ec401d1c27908c267c4ff16af28f6&libraries=LIBRARY"
    ></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7d8ec401d1c27908c267c4ff16af28f6"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="/js/place.js"></script>
    <script src="https://kit.fontawesome.com/fd3102c9a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/camping.css" />
    <title>nav</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="../image/logo-removebg-preview.png" />
      </div>
      <ul class="nav">
        <li>
          <a href="/place/placeList" target="_blank">
            <i class="fa-solid fa-caravan fa-3x">
              <div class="circle"></div>
            </i>
            <div class="title">캠핑장</div>
          </a>
        </li>
        <li>
          <a href="/product/productList" target="_blank">
            <i class="fa-solid fa-toolbox fa-3x">
              <div class="circle"></div>
            </i>
            <div class="title">용품</div>
          </a>
        </li>
        <li>
          <a href="" target="_blank">
            <i class="fa-solid fa-fire-burner fa-3x"> <div class="circle"></div></i>
            <div class="title">요리</div>
          </a>
        </li>
        <li>
          <a href="" target="_blank">
            <i class="fa-solid fa-receipt fa-3x"> <div class="circle"></div></i>
            <div class="title">커뮤니티</div>
          </a>
        </li>
        <div class="background"></div>
      </ul>
      <div class="buttons-container">
        <button class="button-arounder">로그인</button>
      </div>
    </nav>
    <div class="serch">
      <label>
        <input type="text" required />
        <ul>
          <li s>s</li>
          <li e>e</li>
          <li a>a</li>
          <li r>r</li>
          <li c>c</li>
          <li h>h</li>
        </ul>
        <button class="serchbtn" type="submit"><i class="fa-solid fa-magnifying-glass fa-2x"></i></button>
      </label>
    </div>
    <div class="container"></div>
    <div class="pagination">페이지네이션 하는 곳</div>
  </body>
</html>
