<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/fd3102c9a3.js" crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/35.3.2/super-build/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/35.3.2/super-build/translations/es.js"></script>
    <link rel="stylesheet" href="../css/commuView.css" />
    <title>nav</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="image/logo-removebg-preview.png">
      </div>
      <ul class="nav">
        <li>
          <a href="" target="_blank">
            <i class="fa-solid fa-caravan fa-3x">
              <div class="circle"></div>
            </i>
            <div class="title">캠핑장</div>
          </a>
        </li>
        <li>
          <a href=""" target="_blank">
            <i class="fa-solid fa-toolbox fa-3x">
              <div class="circle"></div>
            </i>
            <div class="title">용품</div>
          </a>
        </li>
        <li>
          <a href="" target="_blank">
            <i class="fa-solid fa-fire-burner fa-3x">
              <div class="circle"></div
            ></i>
            <div class="title">요리</div>
          </a>
        </li>
        <li>
          <a href="" target="_blank">
            <i class="fa-solid fa-receipt fa-3x"> <div class="circle"></div></i>
            <div class="title">커뮤니티</div>
          </a>
        </li>
        <div class="background"></div>
      </ul>
      <div class="buttons-container">
        <!-- 로그인 시 출력 -->
        <p><a href="">이름</a>님 <br>반갑습니다.</p>
        <!-- 비로그인 시 로그인 텍스트 출력하고 로그인 시 로그아웃 텍스트 출력 -->
        <button class="button-arounder">로그인</button>
      </div>
    </nav>
    <div class="boardViewWrap">
      <div class="boardView">
        <div class="title">제목</div>
        <div class="info">
          <dl>
            <dt>글쓴이</dt>
            <dd>누구</dd>
          </dl>
          <dl>
            <dt>작성일</dt>
            <dd>언제</dd>
          </dl>
          <dl>
            <dt>조회</dt>
            <dd>카운트</dd>
          </dl>
        </div>
        <div id="content"></div>
        <script>
          let tmpStr = "내용";
          tmpStr = tmpStr.replaceAll("&lt;", "<");
          tmpStr = tmpStr.replaceAll("&gt;", ">");
          tmpStr = tmpStr.replaceAll("&amp;lt;", "<");
          tmpStr = tmpStr.replaceAll("&amp;gt;", ">");
          tmpStr = tmpStr.replaceAll("&amp;nbsp;", " ");
          tmpStr = tmpStr.replaceAll("&amp;amp;", "&");
          tmpStr = tmpStr.replaceAll("&#34;", '"');
          document.getElementById("content").innerHTML = tmpStr;
        </script>
      </div>
    </div>
    <div class="comment">
      <div class="boxtotal">
        댓글 <span><span>1</span></span>
      </div>
      <div style="display: block">
        <div class="areacomment">
          <ul class="listcomment">
            <li>
              <div class="boxcontent">
                <div class="boxmeta">
                  <strong>작성자</strong>
                  <span class="date">작성일 </span>
                </div>
                <div>
                  <p class="text">댓글 내용</p>
                </div>
                <div class="boxbtn">
                  <button type="button" class="btnregister" onclick="">
                    수정
                  </button>
                  <button type="button" class="btnregister2" onclick="">
                    삭제
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <form method="" action="" style="margin: 0">
          <div class="areawrite">
            <div class="boxtextarea">
              <label for="comment" class="screenout">댓글</label>
              <textarea placeholder="내용을 입력해주세요."></textarea>
            </div>
            <div class="boxbtn">
              <button type="button" class="btnregister" onclick="">등록</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="btWrap">
      <a href="" class="on">수정</a>
      <a onclick="" class="off">삭제</a>
      <a href="" class="on">목록</a>
    </div>
    <div class="btWrap">
      <a href="" class="on">수정</a>
      <a onclick="" class="off">삭제</a>
      <a href="" class="on">목록</a>
    </div>
  </body>
</html>