<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 정보 수정</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="/../css/mypage.css" type="text/css">
</head>

<body>
    <div class="container">
        <form id="profile-header"></form>
        <!-- End of profile section -->

    </div>
    <!-- End of container -->

    </header>

    <main>
        <div class="container">
            <div class="gallery" id="<%= id %>">
                <div class="gallery-item">
                    <img src="" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><i class="fas fa-heart"></i> 56k</li>
                            <li class="gallery-item-comments"><i class="fas fa-comment"></i> 200</li>
                        </ul>
                    </div>
                </div>

                <div class="gallery-item">
                    <img src="" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><i class="fas fa-heart"></i> 89k</li>
                            <li class="gallery-item-comments"><i class="fas fa-comment"></i> 5k</li>
                        </ul>
                    </div>
                </div>

                <div class="gallery-item">
                    <img src="" class="gallery-image">
                    <div class="gallery-item-type">
                        <i class="fas fa-clone"></i>
                    </div>
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><i class="fas fa-heart"></i> 42k</li>
                            <li class="gallery-item-comments"><i class="fas fa-comment"></i> 1k</li>
                        </ul>
                    </div>
                </div>

                <div class="gallery-item">
                    <img src="" class="gallery-image">
                    <div class="gallery-item-type">
                        <i class="fas fa-video"></i>
                    </div>
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><i class="fas fa-heart"></i> 38k</li>
                            <li class="gallery-item-comments"><i class="fas fa-comment"></i> 10k</li>
                        </ul>
                    </div>
                </div>

                <div class="gallery-item">
                    <img src="" class="gallery-image">
                    <div class="gallery-item-type">
                        <i class="fas fa-clone"></i>
                    </div>
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><i class="fas fa-heart"></i> 47k</li>
                            <li class="gallery-item-comments"><i class="fas fa-comment"></i> 1k</li>
                        </ul>
                    </div>
                </div>

                <div class="gallery-item">
                    <img src="" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><i class="fas fa-heart"></i> 94k</li>
                            <li class="gallery-item-comments"><i class="fas fa-comment"></i> 3k</li>
                        </ul>
                    </div>
                </div>

                <div class="gallery-item">
                    <img src="" class="gallery-image">
                    <div class="gallery-item-type">
                        <i class="fas fa-clone"></i>
                    </div>
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><i class="fas fa-heart"></i> 52k</li>
                            <li class="gallery-item-comments"><i class="fas fa-comment"></i> 4k</li>
                        </ul>
                    </div>
                </div>

                <div class="gallery-item">
                    <img src="" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><i class="fas fa-heart"></i> 66k</li>
                            <li class="gallery-item-comments"><i class="fas fa-comment"></i> 2k</li>
                        </ul>
                    </div>
                </div>
                <div class="gallery-item">
                    <img src="" class="gallery-image">
                    <div class="gallery-item-type">
                        <i class="fas fa-clone"></i>
                    </div>
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><i class="fas fa-heart"></i> 45k</li>
                            <li class="gallery-item-comments"><i class="fas fa-comment"></i> 10k</li>
                        </ul>
                    </div>
                </div>

                <div class="gallery-item">
                    <img src="" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><i class="fas fa-heart"></i> 34k</li>
                            <li class="gallery-item-comments"><i class="fas fa-comment"></i> 1k</li>
                        </ul>
                    </div>
                </div>

                <div class="gallery-item">
                    <img src="" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><i class="fas fa-heart"></i> 41k</li>
                            <li class="gallery-item-comments"><i class="fas fa-comment"></i> 9k</li>
                        </ul>
                    </div>
                </div>

                <div class="gallery-item">
                    <img src="" class="gallery-image">
                    <div class="gallery-item-type">
                        <i class="fas fa-video"></i>
                    </div>
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><i class="fas fa-heart"></i> 30k</li>
                            <li class="gallery-item-comments"><i class="fas fa-comment"></i> 29k</li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- End of gallery -->
            <div class="spinner"></div>
        </div>
        <!-- End of container -->
    </main>
</body>
<script src="/../js/mypage.js"></script>

</html>