<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/mypagereview.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/fd3102c9a3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../css/mypagereview.css" />
  <title>mypagereview</title>
</head>


<body style="background-color: #edf5e1">
  <%- include('nav.ejs') %>
  <%- include('mypagesidebar.ejs') %>
    
    <div class="container">
      <div class="boardWrap">
        <div class="boardTitle">
          <strong>리뷰</strong>
        </div>
        <div class="boardListWrap">
          <div class="boardList">
            <div class="top">
              <div class="id">번호</div>
              <div class="title">제목</div>
              <div class="date">작성일</div>
            </div>
          </div>
          <div class="pagination"></div>
        </div>
      </div>
    </div>

</body>
<%- include('footer.ejs') %>

</html>