<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지</title>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="../js/mypage.js"></script>
  <link rel="stylesheet" href="/../css/mypage.css" type="text/css">
</head>

<body style="background-color: #edf5e1">
  <%- include('nav.ejs') %>
    <div class="side">
      <ul class="sidebar">
        <li>
          <a href="/auth/edit">
            <i class="fa-solid fa-circle-user fa-3x">
              <div class="circle"></div>
            </i>
            <div class="title">개인정보 수정</div>
          </a>
        </li>
        <li>
          <a href="/article/mypagearticle">
            <i class="fa-solid fa-list fa-3x">
              <div class="circle"></div>
            </i>
            <div class="title">게시글 관리</div>
          </a>
        </li>
        <li>
          <a href="/comment/mypagecomment">
            <i class="fa-solid fa-comment fa-3x">
              <div class="circle"></div>
            </i>
            <div class="title">댓글 관리</div>
          </a>
        </li>
        <li>
          <a href="/review/mypagereview">
            <i class="fa-solid fa-pencil fa-3x">
              <div class="circle"></div>
            </i>
            <div class="title">리뷰내역</div>
          </a>
        </li>
        <li>
          <a href="/auth/withdrawal">
            <i class="fa-solid fa-user-xmark fa-3x">
              <div class="circle"></div>
            </i>
            <div class="title">회원탈퇴</div>
          </a>
        </li>
        <div class="background"></div>
      </ul>
    </div>
    <div class="container">
      <div id="profile-header"></div>
      <!-- <form id="nickname"></form> -->
      <!-- <div class="profile-user-settings">
          <form id="nickname"></form>
          <button onclick="location.href='/auth/edit'" class="profile-edit-btn">프로필 수정</button>
        </div> -->
      <!-- End of profile section -->

      <div class="container">
        <div class="content">
          <div class="card">
            <div class="firstinfo">
              <img src="https://dailycampingbucket.s3.ap-northeast-2.amazonaws.com/83308917_1679321519298.jpg"
                id="image2">
              <div class="profileinfo">
                <!-- <h1>
                  <div id="nickname" 이름(닉네임)>
                    <h1 class="profile-user-name"></h1>
                  </div>
                </h1>
                <h3 id="phone">전화번호</h3>
                <h4 id="email">이메일</h4> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('footer.ejs') %>
</body>

</html>