<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/fd3102c9a3.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/../css/nav.css" />

  <title>nav</title>
</head>

<body>
  <nav>
    <div class="logo" onclick="location.href='/main'" style="cursor: pointer">
      <img src="/../image/logo-removebg-preview.png" />
    </div>
    <ul class="nav">
      <li>
        <a href="/place/placeList">
          <i class="fa-solid fa-caravan fa-3x">
            <div class="circle"></div>
          </i>
          <div class="title title-sub">캠핑장</div>
        </a>
      </li>
      <li>
        <a href="/product/productList">
          <i class="fa-solid fa-toolbox fa-3x">
            <div class="circle"></div>
          </i>
          <div class="title title-sub">용품</div>
        </a>
      </li>
      <li>
        <a href="/recipe/recipeList">
          <i class="fa-solid fa-fire-burner fa-3x">
            <div class="circle"></div>
          </i>
          <div class="title title-sub">요리</div>
        </a>
      </li>
      <li>
        <a onclick="loginUser()">
          <i class="fa-solid fa-receipt fa-3x">
            <div class="circle"></div>
          </i>
          <div class="title title-sub">커뮤니티</div>
        </a>
      </li>
      <div class="background"></div>
    </ul>
    <div class="buttons-container"></div>
  </nav>
</body>
<script src="/../js/nav.js"></script>

</html>