<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/open2.css" />
    <title>open</title>
  </head>
  <body onclick="location.href='/open'">
    <div class="container" tabindex="0">
      <div
        class="photo"
        style="
          background-image: url('https://images.unsplash.com/photo-1621269339551-15cbf8e41577?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyMTYxMjk1OA&ixlib=rb-1.2.1&q=80&w=1600');
        "
      ></div>
      <div class="instructions"><strong>클릭 시 바로 이동</strong></div>
      <div class="shutter" style="--flaps: 6">
        <div class="flap" style="--i: 0"></div>
        <div class="flap" style="--i: 1"></div>
        <div class="flap" style="--i: 2"></div>
        <div class="flap" style="--i: 3"></div>
        <div class="flap" style="--i: 4"></div>
        <div class="flap" style="--i: 5"></div>
      </div>
    </div>
    <script src="../js/open2.js"></script>
  </body>
</html>
