<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/fd3102c9a3.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/open1.css" />
    <title>open</title>
  </head>
  <body onclick="location.href='/main'">
    <div class="stage">
      <div class="container">
        <h1>저희와 함께</h1>
        <h1>내일바로</h1>
        <h1>Camping</h1>
        <h1>떠나볼까요?</h1>
        <h3>클릭 시 바로 이동</h3>
      </div>
      <div class="ground-line">
        <div>
          <span class="line1"></span>
          <span class="line2"></span>
          <span class="line3"></span>
          <span class="line1"></span>
          <span class="line2"></span>
          <span class="line3"></span>
        </div>
      </div>
      <div class="tree-wrap">
        <div class="tree">
          <div class="stem">
            <div class="branch branch1"></div>
            <div class="branch branch2"></div>
            <div class="branch branch3"></div>
          </div>
          <div class="leef leef1"></div>
          <div class="leef leef2"></div>
        </div>
      </div>
      <div class="love-front">
        <div class="love-wrap">
          <div class="love">
            <span class="circle circle1"></span>
            <span class="circle circle2"></span>
            <span class="square"></span>
          </div>
        </div>
        <div class="love-wrap">
          <div class="love">
            <span class="circle circle1"></span>
            <span class="circle circle2"></span>
            <span class="square"></span>
          </div>
        </div>
        <div class="love-wrap">
          <div class="love">
            <span class="circle circle1"></span>
            <span class="circle circle2"></span>
            <span class="square"></span>
          </div>
        </div>
        <div class="love-wrap">
          <div class="love">
            <span class="circle circle1"></span>
            <span class="circle circle2"></span>
            <span class="square"></span>
          </div>
        </div>
        <div class="love-wrap">
          <div class="love">
            <span class="circle circle1"></span>
            <span class="circle circle2"></span>
            <span class="square"></span>
          </div>
        </div>
        <div class="love-wrap">
          <div class="love">
            <span class="circle circle1"></span>
            <span class="circle circle2"></span>
            <span class="square"></span>
          </div>
        </div>
        <div class="love-wrap">
          <div class="love">
            <span class="circle circle1"></span>
            <span class="circle circle2"></span>
            <span class="square"></span>
          </div>
        </div>
        <div class="love-wrap">
          <div class="love">
            <span class="circle circle1"></span>
            <span class="circle circle2"></span>
            <span class="square"></span>
          </div>
        </div>
        <div class="love-wrap">
          <div class="love">
            <span class="circle circle1"></span>
            <span class="circle circle2"></span>
            <span class="square"></span>
          </div>
        </div>
        <div class="love-wrap">
          <div class="love">
            <span class="circle circle1"></span>
            <span class="circle circle2"></span>
            <span class="square"></span>
          </div>
        </div>
        <div class="love-wrap">
          <div class="love">
            <span class="circle circle1"></span>
            <span class="circle circle2"></span>
            <span class="square"></span>
          </div>
        </div>
        <div class="love-wrap">
          <div class="love">
            <span class="circle circle1"></span>
            <span class="circle circle2"></span>
            <span class="square"></span>
          </div>
        </div>
      </div>
      <div class="love-back">
        <div class="love-wrap">
          <div class="love">
            <span class="circle circle1"></span>
            <span class="circle circle2"></span>
            <span class="square"></span>
          </div>
        </div>
        <div class="love-wrap">
          <div class="love">
            <span class="circle circle1"></span>
            <span class="circle circle2"></span>
            <span class="square"></span>
          </div>
        </div>
        <div class="love-wrap">
          <div class="love">
            <span class="circle circle1"></span>
            <span class="circle circle2"></span>
            <span class="square"></span>
          </div>
        </div>
        <div class="love-wrap">
          <div class="love">
            <span class="circle circle1"></span>
            <span class="circle circle2"></span>
            <span class="square"></span>
          </div>
        </div>
        <div class="love-wrap">
          <div class="love">
            <span class="circle circle1"></span>
            <span class="circle circle2"></span>
            <span class="square"></span>
          </div>
        </div>
        <div class="love-wrap">
          <div class="love">
            <span class="circle circle1"></span>
            <span class="circle circle2"></span>
            <span class="square"></span>
          </div>
        </div>
        <div class="love-wrap">
          <div class="love">
            <span class="circle circle1"></span>
            <span class="circle circle2"></span>
            <span class="square"></span>
          </div>
        </div>
        <div class="love-wrap">
          <div class="love">
            <span class="circle circle1"></span>
            <span class="circle circle2"></span>
            <span class="square"></span>
          </div>
        </div>
      </div>
      <div class="vehicle-body">
        <div class="wrap-body">
          <div class="rooftop back"></div>
          <div class="rooftop front"></div>
          <div class="body-cover">
            <div class="top-roof"></div>
            <div class="indi back-top-indicator"></div>
            <div class="indi back-bottom-indicator"></div>
            <div class="back-window">
              <div class="window-base top"></div>
              <div class="window-base bottom"></div>
              <div class="sun-shade"></div>
              <div class="curtain">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div class="windows-glass-wrap">
                <div class="glass">
                  <div class="light">
                    <span class="light1"></span>
                    <span class="light2"></span>
                    <span class="light3"></span>
                  </div>
                </div>
                <div class="glass">
                  <div class="light">
                    <span class="light1"></span>
                    <span class="light2"></span>
                    <span class="light3"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="front-window">
              <div class="window-base"></div>
              <div class="sun-shade"></div>
              <div class="curtain">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div class="windows-glass-wrap">
                <div class="light">
                  <span class="light1"></span>
                  <span class="light2"></span>
                  <span class="light3"></span>
                </div>
              </div>
              <div class="air-hole">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <div class="main-door">
            <div class="glass">
              <div class="light">
                <span class="light1"></span>
                <span class="light2"></span>
              </div>
            </div>
            <div class="door-handle"></div>
          </div>
          <div class="side-guard">
            <div class="shade"></div>
            <div class="bumper back"></div>
            <div class="bumper front"></div>
            <div class="front-indicator"></div>
          </div>
        </div>
        <div class="wheel-wrap back">
          <div class="wheel-shadow"></div>
          <div class="wheel">
            <div class="wheel-outer">
              <div class="wheel-cup">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="wheel-wrap front">
          <div class="wheel-shadow"></div>
          <div class="wheel">
            <div class="wheel-outer">
              <div class="wheel-cup">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/open1.js"></script>
  </body>
</html>
