<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/search.js"></script>
    <script src="https://kit.fontawesome.com/fd3102c9a3.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/../image/5695276.ico" />
    <title>Daily_camping</title>
  </head>
  <body>
    <%- include('nav.ejs') %>
    <div class="search">
      <div class="textsearch">
        <label>
          <input type="text" id="searchKeyword" required onkeyup="searchEnterKey()" />
          <ul>
            <li s>s</li>
            <li e>e</li>
            <li a>a</li>
            <li r>r</li>
            <li c>c</li>
            <li h>h</li>
          </ul>
          <button class="searchbtn" id="serch" type="submit">
            <i class="fa-solid fa-magnifying-glass fa-2x" onclick="search()"></i>
          </button>
        </label>
      </div>
    </div>
    <div id="content">
      <h3>캠핑장</h3>
      <div class="place_box">
        <div id="place_no_search">검색 결과가 없습니다.</div>
      </div>
      <hr />
      <h3>캠핑용품</h3>
      <div class="product_box">
        <div class="product_no_search">검색 결과가 없습니다.</div>
      </div>
      <hr />
      <h3>레시피</h3>
      <div class="recipe_box">
        <div class="recipe_no_search">검색 결과가 없습니다.</div>
      </div>
      <hr />
      <h3>게시글</h3>
      <div class="article_box">
        <div class="article_no_search">검색 결과가 없습니다.</div>
      </div>
    </div>
    <%- include('footer.ejs') %>
  </body>
  <link rel="stylesheet" href="/../css/searchejs.css" />
  <script src="/js/EnterKey.js"></script>
</html>
