.boardWrap {
  width: 1000px;
  margin: 100px auto;
  background-color: #ffffff;
  border-radius: 10px;
}

.boardWrap ul,
.boardWrap li {
  list-style: none;
}

.boardWrap a {
  text-decoration: none;
  color: inherit;
}

.boardTitle {
  margin: 30px 10px;
}

.boardTitle strong {
  font-size: 30px;
}

.btWrap {
  margin-top: 30px;
  font-size: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.btWrap button {
  display: inline-block;
  min-width: 80px;
  margin-left: 10px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 14px;
  text-decoration: none;
  align-items: center;
  text-align: center;
}

.btWrap .on {
  background: #379683;
  cursor: pointer;
  color: #ffffff;
}

.boardList {
  width: 100%;
  border-top: 2px solid #000;
}

.boardList > div {
  font-size: 0;
}

.boardList > div.top {
  border-bottom: 1px solid #999;
}

.boardList > div.list {
  border-bottom: 1px solid #ddd;
}

.boardList > div:last-child {
  border-bottom: 1px solid #000;
}

.boardList > div > div {
  display: inline-block;
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
}

.boardList > div.top > div {
  font-weight: 600;
}

.list {
  cursor: pointer;
}

.boardList .id {
  width: 10%;
}

.boardList .title {
  width: 50%;
  text-align: center;
}

.boardList .top .title {
  text-align: center;
}

.boardList .writer {
  width: 10%;
}

.boardList .date {
  width: 20%;
}

.boardList .count {
  width: 10%;
}

.pagination {
  display: flex;
  font-size: 25px;
  justify-content: center;
}
