@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.side {
  padding: 0;
  position: absolute;
}

.sidebar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
  width: 250px;
  margin: 100px auto auto 100px;
  list-style: none;
  flex-direction: column;
  align-content: flex-start;
}

.background {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.75s;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar li a {
  padding: 20px;
  float: left;
  width: 225px;
  text-align: center;
  font-size: 20px;
  color: #edf5e1;
  text-decoration: none;
}

.sidebar li a:hover .circle {
  position: relative;
  z-index: 1;
  top: -60px;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  animation: illuminate 2s ease-out infinite;
  background: #fdc6be;
}

.sidebar li i {
  height: 50px;
}

.sidebar li a:hover i {
  transform: translateY(-10px);
  transform: translateX(-10px);
}

.sidebar li a .title {
  font-size: 0px;
}

.sidebar li a:hover .title {
  transform: translateY(20px);
  transform: translateX(-10px);
  font-size: 20px;
  transition: 0.5s;
  /* color: #fff; */
}

.sidebar li a.title:hover {
  transform: translateY(-20px);
}

.sidebar li:first-child a {
  background: #bab417 !important;
}

.sidebar li:nth-child(2) a {
  background: #967d37 !important;
}

.sidebar li:nth-child(3) a {
  background: #db865c !important;
}

.sidebar li:nth-child(4) a {
  background: #e4a48e !important;
}

.sidebar li:nth-child(5) a {
  background: #e48e8e !important;
}

.sidebar li:first-child:hover ~ .background {
  background: #bab417;
}

.sidebar li:nth-child(2):hover ~ .background {
  background: #967d37;
}

.sidebar li:nth-child(3):hover ~ .background {
  background: #db865c;
}

.sidebar li:nth-child(4):hover ~ .background {
  background: #e4a48e;
}

.sidebar li:nth-child(5):hover ~ .background {
  background: #e48e8e;
}

@keyframes illuminate {
  0% {
    transform: scale(0.7, 0.7);
    opacity: 0.7;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.15);
    opacity: 0;
  }
}
