@import url(mypagesidebar.css);
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";

.firstinfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
  margin: 100px 20%;
}

.card {
  width: 800px;
  min-height: 300px;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.card:after {
  content: "";
  display: block;
  width: 250px;
  height: 350px;
  background: cadetblue;
  position: absolute;
  animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}

.firstinfo {
  flex-direction: row;
  z-index: 2;
  position: relative;
}
.firstinfo img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  left: -9px;
}
.firstinfo .profileinfo {
  width: 75%;
  margin-left: 235px;
  padding-top: 50px;
}
.firstinfo .profileinfo h1 {
  font-size: 2em;
  line-height: 1.8em;
}
.firstinfo .profileinfo h3 {
  font-size: 1.5em;
  color: #009688;
  font-style: italic;
  line-height: 1.8em;
}

.firstinfo .profileinfo h4 {
  font-size: 1.3em;
  color: #000;
  font-style: italic;
  line-height: 1.8em;
}

.firstinfo .profileinfo p.bio {
  padding: 10px 0px;
  color: #5a5a5a;
  line-height: 1.8em;
  font-style: initial;
  font-size: 1.1em;
}

@keyframes animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes animainfos {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -42px;
  }
}
@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}

.unknow {
  margin: 0 auto;
  text-align: center;
  background-color: aliceblue;
  height: 300px;
  font-size: 1.8em;
  padding-top: 150px;
}
