@import url(search.css);
@import url(pagination.css);

.common_sp_list_ul {
  vertical-align: top;
  margin: auto;
}

ul {
  margin-bottom: 0;
  margin-top: 0;
  display: block;
  list-style-type: disc;
  margin-left: 100px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.common_sp_list_ul.ea4 li {
  width: 282px;
}

.common_sp_list_li {
  list-style: none;
  padding: 0;
  margin: 0 12px 40px 0;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.common_sp_thumb {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.common_sp_link {
  color: #333;
  text-decoration: none;
}

.common_sp_link {
  background-color: transparent;
}

.common_sp_caption {
  padding: 10px 2px;
}

.common_sp_caption_tit.line2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  white-space: normal;
  line-height: 1.5;
}

.common_sp_caption_tit {
  margin: 0 0 6px 0;
  color: #000;
  text-align: left;
  font-size: 15px;
}

.common_sp_caption_rv_name {
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  vertical-align: 0;
  padding: 0 1px 7px 0;
  font-weight: 300;
}

.common_sp_caption_rv {
  vertical-align: super;
  line-height: 1;
  margin: 0 0 9px 0;
}

.common_sp_caption_rv_ea {
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  vertical-align: middle;
  padding-left: 1px;
  line-height: normal;
  font-weight: 300;
}

.common_sp_caption_rv_star {
  vertical-align: 1px;
}

.common_sp_caption_rv_star img {
  width: 14px;
  margin-right: 1px;
  margin: 0;
}

.common_sp_caption_buyer {
  color: #999;
  font-size: 13px;
  margin-left: 2px;
  font-weight: 300;
}

.common_sp_caption_rv_name img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin: 0 4px -2px 0;
  vertical-align: text-bottom;
}

.common_sp_thumb img {
  width: 300px;
  height: 300px;
  background-color: #ffffff;
}

.pagination {
  display: flex;
  font-size: 25px;
  justify-content: center;
}