.boardWrite {
    border-top: 2px solid #000;
}

.boardWriteWrap {
    margin: 20px auto;
    width: 1000px;
}

.boardWrite .title {
    padding: 15px;
}

.boardWrite .title dt,
.boardWrite .title dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

#editor img {
    max-width: 100%;
}

.boardWrite .title dl {
    font-size: 0;
}

.boardWrite .title dt {
    width: 100px;
}

.boardWrite .title dd {
    width: calc(100% - 200px);
}

.boardWrite .title input {
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
}

.boardWrite .file_upload {
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid #000;
    margin-left: 10px;
    margin-bottom: 10px;
}

.btWrap {
    margin-top: 30px;
    font-size: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.btWrap button {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 14px;
    text-decoration: none;
    align-items: center;
    text-align: center;
}

.btWrap a:first-child {
    margin-left: 0;
}

.btWrap .on {
    background: #379683;
    cursor: pointer;
}

.btWrap .off {
    background: #ffffff;
    cursor: pointer;
}

.btWrap .off a {
    text-decoration: none;
    color: #000;
    font-size: 10px;
}

.ck-editor__editable[role="textbox"] {
    /* editing area */
    min-height: 200px;
    font-size: 14px;
}

.ck-content .image {
    /* block images */
    max-width: 80%;
    margin: 20px auto;
}

button {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

input[type="submit"] {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    width: 100%;
    height: 100%;
}